# OS Metadata
.DS_Store
Thumbs.db

# Editor Specific Configuration
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Browser/Server logs
.lighthouse/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
